[Unit]
Description=DAVictory Application (Backend + Frontend)
After=network.target

[Service]
Type=forking
User=hv
WorkingDirectory=/home/hv/DuAn/DAVictory
ExecStartPre=/home/hv/DuAn/DAVictory/stop.sh
ExecStart=/home/hv/DuAn/DAVictory/start.sh
ExecStop=/home/hv/DuAn/DAVictory/stop.sh
RemainAfterExit=yes
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
